extends ./layout.jade

block title
  title Game ##{board.id}

block content
  h1 Game ##{board.id}
  tic-tac-toe-board(the-board="#{JSON.stringify(board.board)}")

  if userCan('play game')
    p Yes they can!
  else
    p Nope

  if currentUser && board.isOpenForJoining()
    p Click here to join (TBD)
  else
    p Game is full

  form(action='/games/#{board.id}', method="post")
    .form-group
      label.control-label New Game state
      input.form-control(type="text", name="board", value="#{board.board.map(function(b) { return b.join(''); }).join('')}")
    button.btn.btn-success(type="submit") Update board
